<%- include('../partials/header', {title: "Test"}); %>

<div class="mainCol">
	<div class="output tallLoginBox">
		<h1>USER INFO</h1>
		<h3>
			<% if (success.length) { %>
				<%= success %>
			<% } %>
			<br>
			<% if (errors.length) { %>
				<%= errors %>
			<% } %><br>
		</h3>
		<form action="/api/v1/updateuser" method="POST">
			<div class=formEntries>
				<label for="name">Name:</label><br>
				<input type="text" name="name" id="name" value="<%=name%>"><br><br>

				<label for="email">Email Address:</label><br>
				<input type="text" name="email" id="email" value="<%=email%>"><br><br>

				<label for="currentpass">Your Current Password:</label><br>
				<input type="password" name="currentpass" id="currentpass"><br><br>

				<label for="currentpass">Your New Password:</label><br>
				<input type="password" name="newpass" id="newpass"><br><br>

				<input type="submit" name="submit" value="Submit">
				<a href="/api/v1/deleteuser">Delete User</a>
			</div>
		</form>
	</div>
</div>

<%- include('../partials/footer', {title: "Test"}); %>
